APP_NAME="Dashboard Base"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/ccopaeca
APP_TIMEZONE=America/Lima
APP_SESSION_NAME=base_dashboard_session
APP_SECURE_COOKIES=false

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=dashboard_base
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
